.modal__menu.js-show-modals-menu 
	div.modal-close
		i.btn-close-modal
			svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19', height='19', viewbox='0 0 19 19')
				defs
					path#xbsza(d='M778.96 1908.08l-1.08-1.08-8.4 8.4-8.4-8.4-1.08 1.08 8.4 8.4-8.4 8.4 1.08 1.08 8.4-8.4 8.4 8.4 1.08-1.08-8.4-8.4z')
				g
					g(transform='translate(-760 -1907)')
						use( xlink:href='#xbsza')

	.modal__menu-content
		.b__menu-content
			.mb40
				p.mc-link 
					a.link(href="tel:+74955321454") 8 (495) 532-14-54
				p.mc-adr  ул. Генерала Глаголева, 30, к. 4
			.mb40
				p.mc-link  
					a.link(href="tel:+74957301049") 8 (495) 730-10-49

				p.mc-adr ул. Генерала Глаголева, 30, к. 4

		.b__menu-content
			p.mb40
				a.mc-adr(href="https://instagram.com/_enjoy_your_self/").link instagram

			button.modal-button.js-open-modal
				span запишитесь на процедуру


