$main-color: #22133E;
$accent-color: #FFCC00;
$colorGray: #DEE1E4;
$colorOrange: #FF6E35;
$colorBlack: #333333;
$colorWhite: #ffffff;
$bodyColor: #f4f4f4;
$textColor: #5d656c;
$container-width: 1105px;
$footer-height: 222px;

$body-font: 'Open San', sans-serif;
$fontRegular: 'Open Sans Regular';
$fontSemibold: 'Open Sans Semibold';
$fontBold: 'Open Sans Bold';
$fontLight: 'Open Sans Light';
$fontSize: 14px;
$fontSizeTitle: 20px;
$fontSizeTitles: 16px;
